@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin height_and_wight ($height, $width) {
  height: $height;
  width: $width;
}

$white: #fff;
$black: #000;
$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

.top-100 {
  @include flex-center();
  @include height_and_wight(auto, auto);
  box-shadow: $shadow;
  margin: 1rem;
  min-height: 75%;

  &-body {
    @include flex-center();
    @include height_and_wight(auto, 99%);
    flex-direction: column;

    &-header {
      font-size: clamp(15px, 1.5vw, 20px);
      margin: 20px;
      text-align: center;
    }
  }

  &-table {
    @include height_and_wight(auto, 100%);
    margin-bottom: 20px;
  }
}