.top-100 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 1rem;
  min-height: 75%;
}

.top-100-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
}

.top-100-body-header {
  font-size: 24px;
  margin: 20px;
}

.top-100-table {
  width: 100%;
  margin-bottom: 20px;
}