.block {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
.Body {
    background: white;
    color: black;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.Body {
    height: 78%;
    display: block;
    justify-content: center;
    align-items: center;
}