.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79vh;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 1rem;
}

.home-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.home-left-screen {
  flex: 1;
  margin: 1rem;
}

.home-right-screen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.home-block_text {
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  background: black;
  color: white;
  width: fit-content;
  height: auto;
  font-size: 1rem;
  transition: .3s;
}

.home-block_text:hover {
  font-size: 1.1rem;
}

.home-image {
  width: 35vw;
  height: 30vh;
  transition: .3s;
}

.home-image:hover {
  width: 40vw;
  height: auto;
}

@media (min-width: 768px) {
  .home-image {
    width: 25vw;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .home-image {
    width: 30vw;
    height: auto;
  }
}