* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  height: 100%;
  min-height: 100vh;
}

main {
  padding: 16px 16px;
}
