@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin height_and_wight ($height, $width) {
  height: $height;
  width: $width;
}

@mixin buttons ($font-size, $margin) {
  font-size: $font-size;
  margin: $margin;
}

$white: #fff;
$black: #000;
$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

%buttons {
  padding: 10px 20px;
  font-size: 16px;
  background: $white;
  color: $black;
  border: none;
  border-radius: .5rem;
  transition: .3s;

  @media (max-width: 821px) {
    @include buttons(14px, .5rem)
  }

  @media (max-width: 415px) {
    @include buttons(12px, .5rem)
  }

  @media (max-width: 391px) {
    @include buttons(11px, .5rem)
  }

  @media (max-width: 376px) {
    @include buttons(10px, .5rem);
  }
}

%hovers {
  background: $black;
  color: $white;
}

.header {
    @include flex-space-between();
    @include height_and_wight(auto, auto);
    flex-wrap: wrap;
    box-shadow: $shadow;
    padding: 1rem;
    margin: 1rem;

    &-name {
      text-align: center;
    }

    &-buttons {
      @include flex-space-between();
    }

    &-input {
      @include flex-center();
    }

    @media (max-width: 821px){
      @include flex-center();
      flex-direction: column;
    }
    
    @media (max-width: 376px), (max-width: 415px) {
      @include flex-center();
    }
  }
  
  .header-button-home {
    @extend %buttons;

    &:hover {
      @extend %hovers;
    }
  }

  .header-button-top-100 {
    @extend %buttons;
    
    &:hover {
      @extend %hovers;
    }
  }

  .header-button-check {
    @extend %buttons;
    
    &:hover {
      @extend %hovers;
    }
  }