.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    height: auto;
    width: auto;
    padding: 1rem;
    margin: 1rem;
  }

.bottom-rights {
    color: black;
}

.bottom-git, .bottom-telegram {
  height: 4vh;
  width: 2vw;
  align-items: right;
  background: white;
  color: black;
  border: none;
  border-radius: .5rem;
  transition: .3s;
  margin-left: 1rem;
}

.bottom-git:hover, .bottom-telegram:hover {
  height: 4.5vh;
  width: 2.5vw;
}

.icons {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .bottom-rights {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .bottom-rights {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  .bottom-rights {
    font-size: 16px;
  }
}