.Sidebar {
  height: 100vh;
  width: 300px;
  background-color: white;
  padding: 36px 28px 36px 28px;
}

.Logo {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

.Nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
