.Footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}

.Links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Links > a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
