.coin {
    display: flex;
    height: auto;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin: 1rem;
    min-height: 75%;
  }
  
.coin-body {
    display: block;
    flex-direction: column;
    width: 99%;
    margin: 1rem;
  }
  
.coin-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.coin-name img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    transition: .3s;
}

.coin-name img:hover {
    height: 3rem;
    width: 3rem;
}

.coin-details p{
    font-size: 1rem;
    margin: 1rem;
    color: black;
  }
  
  .coin-details p a {
    color: black;
  }

.coin-contract, .coin-links, .coin-price p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.coin-price {
    font-size: 1.1rem;
}

.coin-links {
    background: black;
    color: white;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: fit-content;
}

.coin-links a {
    margin-left: 0.5rem;
    color: white;
}