@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin height_and_wight ($height, $width) {
  height: $height;
  width: $width;
}

$white: #fff;
$black: #000;
$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

%margins-coin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coin {
  @include height_and_wight(auto, auto);
  display: flex;
  box-shadow: $shadow;
  margin: 1rem;
  min-height: 75%;

  &-body {
    @include height_and_wight(auto, 99%);
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  &-name {
    @include flex-center();
    
    img {
      @include height_and_wight(3rem, 3rem);
      margin-right: 1rem;
      transition: .3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &-details {
    p {
      font-size: 1rem;
      margin: 1rem;
      color: $black;
    }

    a {
      color: $black;
    }
  }

  &-contract {
    @extend %margins-coin;
  }

  &-links {
    @include flex-center();
    @include height_and_wight(3vh, fit-content);
    @extend %margins-coin;
    background: $black;
    color: $white;
    border-radius: .5rem;
    padding: .5rem;

    a {
      margin-left: 0.5rem;
      color: $white;
    }
  }

  &-price {
    font-size: 1.1rem;

    p {
      @extend %margins-coin;
    }
  }
}