@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin height_and_wight($height, $width) {
  height: $height;
  width: $width;
}

$white: #fff;
$black: #000;
$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

%buttons {
  padding: 10px 20px;
  font-size: clamp(11px, 1vw, 16px);
  background: $white;
  color: $black;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-left: 0.5rem;
  cursor: pointer;

  @media (max-width: 821px) {
    margin: 0.5rem auto;
  }
}

%hovers {
  background: $black;
  color: $white;
}

.header {
  @include flex-space-between();
  @include height_and_wight(auto, auto);
  flex-wrap: wrap;
  box-shadow: $shadow;
  padding: 1rem;
  margin: 1rem;
  position: sticky;
  top: 0;
  background: $white;

  &-name {
    text-align: center;

    p {
      overflow: hidden;
      border-right: 0.15em solid $black;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation:
        typing 10s steps(40, end) infinite,
        blink-caret 0.75s step-end infinite;
      animation-delay: 2s, 12s;
    }

    @keyframes typing {
      0% {
        width: 0;
      }
      25% {
        width: 100%;
      }
      50% {
        width: 50%;
      }
      75% {
        width: 100%;
        border-right-color: transparent;
      }
      100% {
        width: 100%;
        border-right-color: $black;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: $black;
      }
    }
  }

  &-buttons {
    @include flex-space-between();
  }

  &-input {
    @include flex-center();
  }

  &-button {
    &-home {
      @extend %buttons;

      &:hover {
        @extend %hovers;
      }
    }

    &-top-100 {
      @extend %buttons;

      &:hover {
        @extend %hovers;
      }
    }

    &-check {
      @extend %buttons;

      &:hover {
        @extend %hovers;
      }
    }
  }

  @media (max-width: 930px) {
    position: static;
  }

  @media (max-width: 821px) {
    @include flex-center();
    flex-direction: column;
  }

  @media (max-width: 376px), (max-width: 415px) {
    @include flex-center();
  }
}
