@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin height_and_wight($height, $width) {
  height: $height;
  width: $width;
}

@mixin hover {
  &:hover {
    transform: scale(1.05);
  }
}

$white: #fff;
$black: #000;
$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

%telegram-git {
  @include height_and_wight(3.5vh, 2vw);
  background: $white;
  color: $black;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-left: 1rem;
}

.footer {
  @include flex-center();
  @include height_and_wight(auto, auto);
  flex-wrap: wrap;
  box-shadow: $shadow;
  padding: 1rem;
  margin: 1rem;

  &-rights {
    color: $black;

    p {
      font-size: clamp(12px, 2vw, 16px);
    }
  }

  &-git {
    @extend %telegram-git;
    @include hover();

    @media (max-width: 1024px) {
      @include height_and_wight(4vh, 4vw);
    }

    @media (max-width: 768px) {
      @include height_and_wight(5vh, 5vw);
    }
  }

  &-telegram {
    @extend %telegram-git;
    @include hover();

    @media (max-width: 1024px) {
      @include height_and_wight(4vh, 4vw);
    }

    @media (max-width: 768px) {
      @include height_and_wight(5vh, 5vw);
    }
  }

  @media (max-width: 819px) {
    text-align: center;
  }
}

.icons {
  @include height_and_wight(100%, 100%);
  cursor: pointer;
}
