@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin height_and_wight ($height, $width) {
  height: $height;
  width: $width;
}

$shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

.check {
  @include flex-center();
  @include height_and_wight(auto, auto);
  box-shadow: $shadow;
  margin: 1rem;
  min-height: 75%;
}

.check-body {
  @include flex-center();
  @include height_and_wight(auto, 99%);
  flex-direction: column;
}

.check-table {
  @include height_and_wight(auto, 100%);
  margin-bottom: 20px;
}