.check {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 79vh;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin: 1rem;
  }
  
  .check-body {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  .check-body-header {
    margin: 1rem;
  }